@model IEnumerable<Rent_a_Car.Models.Car>

@{
    ViewBag.Title = "Home Page";
    var s = 0;
}


<div class="container-fluid">
    <div class="row">

        <div class="col-2 sticky-top" style="position: fixed; top: 110px;">
            
            <span class="badge badge-primary badge-pill"></span>
            
            
            <div class="list-group">
                
                

                <a href="/" class="list-group-item list-group-item-action active"> All </a>
                <a href="/?sortOrder=1" class="list-group-item list-group-item-action">Economy</a>
                <a href="/?sortOrder=2" class="list-group-item list-group-item-action">Compact</a>
                <a href="/?sortOrder=3" class="list-group-item list-group-item-action">Standard</a>
                <a href="/?sortOrder=4" class="list-group-item list-group-item-action">Midsize</a>
                <a href="/?sortOrder=5" class="list-group-item list-group-item-action">Full size</a>
                <a href="/?sortOrder=6" class="list-group-item list-group-item-action">Special car</a>



            </div>


        </div>
        

        <div class="col-sm">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col">

                            <div class="card" style="width: 18rem;  margin-bottom: 20px">
                                <img src="https://dummyimage.com/400x400/000000/fff" class="card-img-top" alt="dummy image">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 style="font-size: 20px; text-align: center">@item.Make @item.Mod</h5>
                                        
                                        <hr/>

                                        <h6 id="totprice-@item.Id" style="font-weight: bold; text-align: center; font-size: 15px" value="@item.Price">@item.Price$ Per day</h6>
                                        
                                        <hr/>
                                    </div>
                                    <p style="text-align: center; font-weight: bold">Pickup-date</p>

                                    @using (Html.BeginForm("rent", "Home", FormMethod.Get))
                                    {
                                        <div>
                                            <div class="input-group mb-3">
                                                <input required="" type="date"  name="DateRented" id="FromDate-@item.Id" class="form-control">
                                            </div>

                                            <p style="text-align: center; font-weight: bold">Return date</p>

                                            <div class="input-group mb-3">
                                                <input required=""  type="date" id="ToDate-@item.Id" name="DateReturned" class="form-control">
                                            </div>

                                        </div>

                                        <input type="hidden" name="id" , value="@item.Id"/>

                                        <button id="SubButton-@item.Id" class="btn btn-primary" type="submit" style="width:100%"> Choose this car </button>
                                    }


                                </div>
                            </div>

                            <div class="w-100"></div>

                        </div>
                    }

                </div>
            </div>
            
        </div>
        



    </div>
</div>

@section scripts
{


    @foreach (var item in Model)
    {

        <script>


            $(document).ready(function () {

                const q = new Date;
                const month = q.getMonth();
                const year = q.getFullYear();
                const day = q.getDay();
                let today = new Date(year, month, day); // Mon Jul 01 2019 00:00:00 GMT+0200 (Central European Summer Time)

                //Each element has an attribute "Value" where the price of the item is stored
                let price = $('#totprice-@item.Id').attr('value');

                let fromdate;
                let todate;

                /* days are calculated in miliseconds.
                 This is used to divide the values and get the number of days */
                const millisecondsPerDay = 1000 * 60 * 60 * 24;


                
                $("#FromDate-@item.Id").on('change',
                    function() {
                        fromdate = new Date(this.value);

                    });

                $("#ToDate-@item.Id").on('change',
                    function() {
                        todate = new Date(this.value);

                    });


                $("#FromDate-@item.Id, #ToDate-@item.Id").on('change',
                    function() {

                        let end = new Date(todate);
                        let start = new Date(fromdate);

                        let millisBetween = end.getTime() - start.getTime();

                        let days = millisBetween / millisecondsPerDay;


                        if (fromdate < today) {

                            
                        }

                        else if (todate < today || todate < fromdate) {

                           

                        } 

                        //validating the input. Users will be notified if the dates are invalid.
                        if (fromdate < today || todate < today || todate < fromdate) {
                            $("#ToDate-@item.Id").addClass("error-forms");
                            $("#FromDate-@item.Id").addClass("error-forms");

                        }
                        else if (Number.isNaN(days)) {

                            

                        }
                        else {


                            $("#totprice-@item.Id").text(`Total price: ${days * price}$`);
                            $("#FromDate-@item.Id").removeClass("error-forms");
                            $("#ToDate-@item.Id").removeClass("error-forms");
                        }


                    });

                //can't submit if the dates are invalid.
                $("#SubButton-@item.Id").on('click',
                    function() {

                        if (fromdate < today || todate < today || todate < fromdate) {

                            bootbox.alert("Please choose a correct date");

                            return false;
                        }

                    });


            });

        </script>
    }

    @Scripts.Render("~/bundles/jqueryval")
}